.password-toggle-icon-details{
  position: absolute;
  top: 40%;
  right: 5px;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  z-index: 2;
}

.position-relative {
  position: absolute;
}